{% extends 'main/base.html' %}

{% load bootstrap5 %}
{% load static %}

{% block content %}
<div style="padding-left: 35px;">
  <div class="page-headings style2">
    <hr />
    <h1 class="heading-x-large">
      The awards that recognize the talent and effort of the best web designers,
      developers and agencies in the world.
    </h1>
    <p>
      A meeting point, where digital design professionals from across the globe
      find inspiration, impart knowledge and experience, connect, and share
      constructive, respectful critiques. <strong>“Always questioning”</strong>,
      <strong>“always evolving”</strong>.
    </p>
  </div></div>
{% endblock %}
