<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  <nav class="">
    <div id="header-top">
      <div class="box-left">
        <div class="item"></div>
      </div>
      <div class="box-center">
        <h1 class="slogan">
          The awards of design, creativity and innovation on the internet
        </h1>
      </div>
      <div class="box-right">
        <ul class="list-social item"></ul>
      </div>
    </div>
  </nav>
  <span class="menu" onclick="openNav()">&#9776; MENU</span>
</div>

